In [1]:
import pandas as pd

In [2]:
cars_df = pd.read_csv('/content/2. Cars Data1.csv')

In [3]:
cars_df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

# Analyzing Dataset

**.head()**
 
 It shows the first N rows in the data (by default, N=5)

In [4]:
cars_df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

**.shape**

It shows the total no. of rows and no. of columns of the dataframe

In [5]:
cars_df.shape

(432, 15)

**.index** 

 This attribute provides the index of the dataframe

In [6]:
cars_df.index

RangeIndex(start=0, stop=432, step=1)

**.columns**

It shows the name of each column

In [7]:
cars_df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

**.dtypes**

It shows the data-type of each column

In [8]:
cars_df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

**.unique()**

In a column, it shows all the unique values. It can be applied on a single column only, not on the whole dataframe.

In [9]:
cars_df['Make'].unique()

array(['Acura', 'Audi', 'BMW', nan, 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

**.nunique()**

It shows the total no. of unique values in each column. It can be applied on a single column as well as on the whole dataframe

In [11]:
cars_df.nunique()

Make            38
Model          425
Type             6
Origin           3
DriveTrain       3
MSRP           410
Invoice        425
EngineSize      43
Cylinders        7
Horsepower     110
MPG_City        28
MPG_Highway     33
Weight         348
Wheelbase       40
Length          67
dtype: int64

In [12]:
cars_df['Model'].nunique()

425

In [13]:
cars_df['Make'].nunique()

38

**.count()**

It shows the total no. of non-null values in each column. It can be applied on a single column as well as on the whole dataframe.

In [14]:
cars_df.count()

Make           428
Model          428
Type           428
Origin         428
DriveTrain     428
MSRP           428
Invoice        428
EngineSize     428
Cylinders      426
Horsepower     428
MPG_City       428
MPG_Highway    428
Weight         428
Wheelbase      428
Length         428
dtype: int64

In [15]:
cars_df['Make'].count()

428

**.value_counts**

In a column, it shows all the unique values with their count. It can be applied on a single column only.

In [17]:
cars_df['Model'].value_counts()

C320 4dr                                  2
G35 4dr                                   2
C240 4dr                                  2
Focus SE 4dr                              1
Sentra 1.8 S 4dr                          1
                                         ..
Civic Hybrid 4dr manual (gas/electric)    1
Vitara LX                                 1
Escape XLS                                1
Camry LE 4dr                              1
Diamante LS 4dr                           1
Name: Model, Length: 425, dtype: int64

**.info()**

Provides basic information about the dataframe.

In [18]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

**.describe()**

This method is used to view some basic statistical details like percentile, mean, std etc

In [19]:
cars_df.describe()

       EngineSize   Cylinders  Horsepower  ...       Weight   Wheelbase      Length
count  428.000000  426.000000  428.000000  ...   428.000000  428.000000  428.000000
mean     3.196729    5.807512  215.885514  ...  3577.953271  108.154206  186.362150
std      1.108595    1.558443   71.836032  ...   758.983215    8.311813   14.357991
min      1.300000    3.000000   73.000000  ...  1850.000000   89.000000  143.000000
25%      2.375000    4.000000  165.000000  ...  3104.000000  103.000000  178.000000
50%      3.000000    6.000000  210.000000  ...  3474.500000  107.000000  187.000000
75%      3.900000    6.000000  255.000000  ...  3977.750000  112.000000  194.000000
max      8.300000   12.000000  500.000000  ...  7190.000000  144.000000  238.000000

[8 rows x 8 columns]

Find all the null values in the dataset, if there is any null value in any column, then drop that row with NAN value

In [22]:
cars_df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [25]:
cars_df.dropna(inplace = True)

In [26]:
cars_df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [27]:
cars_df.isnull()

      Make  Model   Type  Origin  ...  MPG_Highway  Weight  Wheelbase  Length
0    False  False  False   False  ...        False   False      False   False
1    False  False  False   False  ...        False   False      False   False
2    False  False  False   False  ...        False   False      False   False
3    False  False  False   False  ...        False   False      False   False
4    False  False  False   False  ...        False   False      False   False
..     ...    ...    ...     ...  ...          ...     ...        ...     ...
427  False  False  False   False  ...        False   False      False   False
428  False  False  False   False  ...        False   False      False   False
429  False  False  False   False  ...        False   False      False   False
430  False  False  False   False  ...        False   False      False   False
431  False  False  False   False  ...        False   False      False   False

[426 rows x 15 columns]

Check what are the different type of Make in our dataset, and what are the count (occurence) of each Make in the data?

In [35]:
cars_df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Hyundai          12
Jaguar           12
Pontiac          11
Lexus            11
Kia              11
Subaru           11
Lincoln           9
Mazda             9
Buick             9
Mercury           9
Saturn            8
GMC               8
Infiniti          8
Cadillac          8
Suzuki            8
Saab              7
Acura             7
Porsche           7
Land Rover        3
Jeep              3
Oldsmobile        3
Scion             2
MINI              2
Isuzu             2
Hummer            1
Name: Make, dtype: int64

Show all the records where Origin is Asia or Europe

In [36]:
cars_df[(cars_df['Origin'] == 'Asia') | (cars_df['Origin'] == 'Europe') ]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[279 rows x 15 columns]

In [37]:
#Alternate Method
cars_df[cars_df['Origin'].isin(['Asia','Europe'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[279 rows x 15 columns]

Remove all the records (rows) where Weight is above 4000

In [40]:
cars_df[~(cars_df['Weight']>4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[323 rows x 15 columns]

Increase the value of 'MPG_City' Column by 3

In [44]:
cars_df['MPG_City'] = cars_df['MPG_City'].apply(lambda x : x + 3)

In [45]:
cars_df['MPG_City']

0      20.0
1      27.0
2      25.0
3      23.0
4      21.0
       ...
427    24.0
428    23.0
429    22.0
430    25.0
431    23.0
Name: MPG_City, Length: 426, dtype: float64

In [46]:
cars_df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]